[submodule "ansible-role-glusterfs"]
	path = ansible-role-glusterfs
	url = git@github.com:viniciusfs/ansible-role-glusterfs.git
[submodule "ansible-role-epel"]
	path = ansible-role-epel
	url = git@github.com:viniciusfs/ansible-role-epel.git
[submodule "ansible-role-java"]
	path = ansible-role-java
	url = git@github.com:viniciusfs/ansible-role-java.git
[submodule "ansible-role-ntp"]
	path = ansible-role-ntp
	url = git@github.com:viniciusfs/ansible-role-ntp.git
[submodule "ansible-role-tomcat"]
	path = ansible-role-tomcat
	url = git@github.com:viniciusfs/ansible-role-tomcat.git
[submodule "ansible-role-sshd"]
	path = ansible-role-sshd
	url = git@github.com:viniciusfs/ansible-role-sshd.git
[submodule "ansible-role-supervisord"]
	path = ansible-role-supervisord
	url = git@github.com:viniciusfs/ansible-role-supervisord.git
[submodule "ansible-role-ipv6-support"]
	path = ansible-role-ipv6-support
	url = https://github.com/viniciusfs/ansible-role-ipv6-support.git
[submodule "ansible-role-firewalld"]
	path = ansible-role-firewalld
	url = https://github.com/viniciusfs/ansible-role-firewalld.git
